Restapi/jsystem0*
Restapi/log/
Restapi/lib/
Restapi/target/
Cedex.tests/jsystem.properties.bu
Cedex.tests/.run.properties
runner/runnerState.properties
runner/testtimes.properties
runner/remote0.log.lck
runner/jsystem.properties.bu
Utils/*.properties
*/*.properties.bu
*/*.ser*
*/.run.properties
runner/jsystem0*
runner/responseSender.ser
runner/jsystem*.log 
runner/log/
runner/jsystem0*
Browser/log/
Browser/lib/
Browser/target/
Cedex.tests/log/
Cedex.tests/lib/
Cedex.tests/target/
*/target/
*/log/
*/lib/
.idea/*
*/.testdir.tmp
*/remote*.log
*/jsystem0*
*/jsystem0.log.*
*/jsystem0.log.1.lck
*/jsystem0*
*/jsystem0.log.*


Cedex.tests/jsystem0.log.1.lck
Cedex.tests/jsystem0.log.lck
*/.testdir.tmp
Restapi/.testdir.tmp